.wrapper
  .user-body
    = image_tag "user-session-logo.png", class: 'user-session-logo'
    #account-page.account-page
      .account-page__inner
        .user-form
          = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
            = devise_error_messages!
            .field
              .field-label
                = f.label "氏名"
              .field-input.field-name
                = f.text_field :firstname, placeholder: '氏', id: 'input-name', autofocus: true
                = f.text_field :lastname, placeholder: '名', id: 'input-name'
            .field
              .field-label
                = f.label "メールアドレス"
              .field-input
                = f.email_field :email
            .field
              .field-label
                = f.label "パスワード"
                %i (英数字8文字以上)
              .field-input
                = f.password_field :password, autocomplete: "off"
            .field
              .field-label
                = f.label "パスワード（確認用）"
              .field-input
                = f.password_field :password_confirmation, autocomplete: "off"
            .actions
              = f.submit "新規ユーザー登録", class: 'btn'
        = render "devise/shared/links"
