.look{id: "look_#{post.id}"}
  .looked-count
    = icon('fa', 'check')
    = "#{post.looks.count} 人"
  - if current_user.already_looked?(post)
    = link_to '見ましたを解除', group_post_looks_path(@group, post), method: :delete, remote: true, class: 'look-btn'
  - else
    = link_to '見ました', group_post_looks_path(@group, post), method: :post, remote: true, class: 'look-btn'
