= form_for group do |f|
  - if group.errors.any?
    #error_explanation
      %h2= "#{group.errors.full_messages.count}件のエラーが発生しました。"
      %ul
        - group.errors.full_messages.each do |message|
          %li= message
  .field
    .field__label
      = f.label "グループ名"
    .field__input
      = f.text_field :name, placeholder: "グループ名を入力してください"
  .field
    .field__label
      = f.label "メンバーを追加"
    .field__input
      %input{ type: "text", placeholder: "追加したいユーザー名を入力してください", id: "user-search-field" }/
      #user-search-result
  .field
    .field__label
      = f.label "メンバー"
    .field__users
      .group-user
        %input{ name: "group[user_ids][]", type: "hidden", value: current_user.id }
          %p.group-user__name= current_user.name
      .js-add-user

      - group.users.each do |user|
        - if current_user != user
          .group-user
            %input{ name: "group[user_ids][]", type: "hidden", value: user.id, class: "already-added-user" }
              %p.group-user__name
                = user.name
              %a.user-search-remove.group-user__btn.group-user__btn--remove
                削除

  = f.submit class: 'btn'