.wapper
  = render "layouts/header"
  .body
    #account-page.account-page
      .account-page__inner.clearfix
        .account-page__inner--left.account-page__header
        .account-page__inner--right.user-form
          = form_for(current_user) do |f|
            .field
              .field-label
                = f.label :avater
              .field-input
                = f.file_field :avater
            .field
              .field-label
                = f.label :firstname
              .field-input
                = f.text_field :firstname
            .field
              .field-label
                = f.label :lastname
              .field-input
                = f.text_field :lastname
            .field
              .field-label
                = f.label :email
              .field-input
                = f.email_field :email
            .field
              .field-label
                = f.label :introduce
              .field-input.text_area
                = f.text_area :introduce
            .field
              .field-label
                = f.label :timetable
              .field-input
                = f.file_field :timetable, autofocus: true
            .actions
              = f.submit "Update", class: 'btn'
