.wapper
  = render "layouts/header"
  .body
    #account-page.account-page
      .account-page__inner
        .user-form
          = form_for(current_user) do |f|
            .field
              .field-label
                = f.label "プロフィール写真"
              .field-input
                = f.file_field :avater
            .field
              .field-label
                = f.label "氏名"
              .field-input
                = f.text_field :firstname
                = f.text_field :lastname
            .field
              .field-label
                = f.label "メールアドレス"
              .field-input
                = f.email_field :email
            .field
              .field-label
                = f.label "自己紹介文"
              .field-input.text_area
                = f.text_area :introduce
            .field
              .field-label
                = f.label "時間割登録"
              .field-input
                = f.file_field :timetable, autofocus: true
            .actions
              = f.submit "更新する", class: 'btn'
