= render "layouts/header"
.body
  .today-info
    = icon('fa', 'thumbtack')
    登録された予定
    .information
      - @posts.each do |post|
        .release_post
          .release_post__date
            = l post.release_date
            ▶︎
          .release_post__content
            = link_to group_post_path(post.group.id, post) do
              = post.content.truncate(45)
  .menu-list
    .menu
      .menu__block
        = link_to groups_path, class: 'menu__block__icon' do
          = icon('fa', 'users')
      .menu__text
        グループチャット