.post
  .top
    .top__left--user-avater
      = image_tag post.user.avater.url, id: 'avater'
    .top__right
      .top__right--user-name
        = post.user.firstname
        = post.user.lastname
      .top__right--datetime
        = post.created_at.strftime("%Y/%m/%d %H:%M")
  .middle
    .post-content
      = post.content
    - if post.post_files.present?
      - post.post_files.ids.each do |id|
        = id
    -#   .post-files
    -#     - post_file.each do |file|
    -#       = image_tag file.url, class: 'post-files__file'
    = render partial: 'looks/look', locals: { post: post }
  .bottom
    .comment-link
      = link_to group_post_path(@group, post) do
        = icon('fa', 'comment-dots')
        コメントする
