.post
  .top
    .top__left--user-avater
      = image_tag post.user.avater.url, id: 'avater'
    .top__right
      .top__right--user-name
        = post.user.firstname
        = post.user.lastname
      .top__right--datetime
        = post.created_at.strftime("%Y/%m/%d %H:%M")
  .middle
    .post-content
      = simple_format(post.content)
    - if post.post_files.present?
      .post-files
        - post.post_files.each do |file|
          .post-files__file
            ファイルは存在している？
            = file
    = render partial: 'looks/look', locals: { post: post }
  .bottom
    - if @comments.present?
      = @comments.length
    = link_to group_post_path(@group, post), class: 'comment-link' do
      = icon('fa', 'comment-dots')
      コメントする
