.right_body
  .current-group-info
    = @group.name
  .post-form
    .current-user__avater.avater
    = form_with model:[@group, @post] do |f|
      .input-box
        = f.text_area :content, class: 'input-box__content', placeholder: '投稿文を入力してください'
        .input-box__bottom
          = f.label :image, class: 'input-box__bottom__image' do
            = icon('fa', 'paperclip')
            = f.file_field :image, class: 'input-box__bottom__image__file'
          = f.submit '投稿', class: 'submit-btn'
  .posts
    .post
      .top
        .top__left--user-avater
          ■
        .top__right
          .top__right--user-name
            佐藤 二郎
          .top__right--datetime
            2020/5/3 12:00
      .middle
        .post-content
          今日はとてもいい天気ですね
        .post-images
        .looked-count
          見ました
      .bottom
        .comment-link
          = link_to "#" do
            comment
