.right_body
  .current-group-info
    = @group.name
  .post-form
    .current-user__avater.avater
    = form_with model:[@group, @post] do |f|
      .input-box
        = f.text_area :content, class: 'input-box__content', placeholder: '投稿文を入力してください'
        .input-box__bottom
          = f.label :files, class: 'input-box__bottom__files' do
            = icon('fa', 'paperclip')
            = f.file_field :files, multiple: true, class: 'input-box__bottom__files__file'
          = f.submit '投稿', class: 'submit-btn'
  .posts
    =render @posts
