= render "layouts/header"
.chat-page
  = render "posts/left_bar"
  .right_body
    .current_group
      = @group.name
    .scroll-show
      .post
        .top
          = image_tag @post.user.avater.url, id: 'avater'
          .top__right
            .top__userinfo
              .top__userinfo--user-name
                = @post.user.name
              .top__userinfo--datetime
                = l @post.created_at, format: :datetime
            - if @post.release_check?
              .top__release
                .top__release--date
                  予定に登録されています
                  %br
                  = l @post.release_date
        .middle
          .post-content
            = simple_format(@post.content)
          - if @post.post_files.present?
            .post-files
              - @post.post_files.each do |file|
                %object{data: file.file.url, class: 'post-files__file'}
          = render partial: 'looks/look', locals: { post: @post }
      .post-form
        = image_tag current_user.avater.url, id: 'avater'
        .input-box
          = form_for [@group, @post, @comment] do |f|
            = f.text_area :content, id: 'textarea', class: 'input-box__content', placeholder: 'コメントを入力してください'
            .input-box__bottom
              = f.submit '投稿', class: 'submit-btn'
      .comments__count
        = icon('fa', 'comment-dots')
        コメント一覧
        - if @post.comments.present?
          = ",  #{@post.comments.length}件"
      .comments
        - @comments.each do |comment|
          .comment
            .top
              = image_tag comment.user.avater.url, id: 'avater'
              .top__right
                .top__userinfo
                  .top__userinfo--user-name
                    = comment.user.name
                  .top__userinfo--datetime
                    = l comment.created_at, format: :datetime
            .middle
              .post-content
                = simple_format(comment.content)