.header
  .header__left
    = link_to root_path do
      = image_tag "logo.png", class: "header__left__logo"
  .header__middle
    = l Date.today, format: :short
  .header__right
    .current_user
      = link_to user_path(current_user), class: 'current_user__info' do
        .current_user__info--avater
          = image_tag current_user.avater.url, id: 'avater'
        .current_user__info--name
          = current_user.name
    .user-links
      = link_to edit_user_path(current_user), class: 'user-links__icon' do
        = icon('fa', 'user-cog')
        %h5 編集
      = link_to destroy_user_session_path, method: :delete, class: 'user-links__icon' do
        = icon('fa', 'sign-out-alt')
        %h5 ログアウト